body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  padding: 20px;
  gap: 10px;
}

.header img {
  height: 100%;
}

main {
  width: 70%;
  padding: 36px;
  margin: 0 auto;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}


.form_input {
  font-family: "karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form_button {
  font-family: "karla", sans-serif;
  grid-column: 1/-1;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;

}

.memeimage {
  max-width: 500px;
  grid-column: 1/-1;
  margin: 0 auto;
  border: 3px solid #A626D3;
  border-radius: 10px;
}